.cont{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: black;
    flex-direction: row;
}
.cont form{
    animation:fadeIn 0.8s ease;
}
@keyframes fadeIn{

  from{
    opacity: 0;
    transform: translateY(30px);
  }

  to{
    opacity: 1;
    transform: translateY(0);
  }
}
@media(max-width:500px){
    .cont{
        flex-direction: column;
    }
}