.Homi{
  background-color: black;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  animation: fadeIn 0.8s ease;
}
.Homi text{
  animation: fadeIn 0.8s ease;
}

.electric-border{
  width: 30%;
  height: 30%;
  border-radius: 50%;             
  background: linear-gradient(
      135deg,
      #00eaff,
      #00ffc8,
      #0099ff,
      #00eaff,
      #00ffc8
  );
  background-size:300% 300%;
  animation: glowRotate 4s linear infinite;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 animation: fadeIn 0.8s ease;
}

.electric-border img {
  width: 100%;
  height: 100%;
  border-radius: 50%;       
  display: block;
}

@media(max-width:500px){
    .Homi{
        flex-direction: column;
    }
}


@keyframes fadeIn{

  from{
    opacity: 0;
    transform: translateY(30px);
  }

  to{
    opacity: 1;
    transform: translateY(0);
  }
}
