.skll{
    width: 90%;
    height: auto;
    background-color: black;
    justify-content: left;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: fadeIn 0.8s ease;
}

.skl1,.skl2,.skl3{
    display: flex;
    gap: 8px;
}

.skl3{
    justify-content: center;
}
.cc,.cppp,.csss,.jss,.pythonn,.mernn,.nodejss,.mongoo,.dsa,.react{
    width: 30%;
    background-color: black;
    border: 1px solid white;
    border-radius: 3%;
    cursor: pointer;
    transition: transform 0.3s ease,border-color 0.3s ease;
    animation: fadeIn 0.8s ease;
}

.cc :hover,.cppp:hover,.csss:hover,.jss:hover,.pythonn:hover,.mernn:hover,.nodejss:hover,.mongoo:hover,.dsa:hover,.react:hover{
     transform: scale(1.05);
     border-color: transparent;
     
}

@keyframes fadeIn{

  from{
    opacity: 0;
    transform: translateY(30px);
  }

  to{
    opacity: 1;
    transform: translateY(0);
  }
}
